.container{
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 8fr;
}

.body-container{
    display: grid;
    grid-template-columns:  repeat(1,1fr 4fr 2fr);
}

.side-panel-right-focus-container{
    grid-column: auto/span -1;
    background-image: linear-gradient(lightblue,white)
}

.form-focus-container{
    grid-column: auto/span -1;
    background-image : linear-gradient(aqua,white)
}

